/* set margin, padding, and type of styling for entire page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* create varialble to use throughout styling */
:root{
    --main-color: #ffcc00;
    --secondary-color: #feb01a;
    --teriary-color: #ff6600;
    --blue-color: #126eb3;
    --section-bgcolor: rgba(0, 0, 0, 0)
}

/* Set styling for the body of the page */
body{
    background-color:#f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

/* start styling for the header */
header{
    padding: 10px 25px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
}

header h1{
    color: var(--blue-color);
    font-size: 35px;
    margin: auto 0;
    text-align: center;
    text-shadow: 0 0 10px rgba(229, 228, 226, 0.65);
}

header nav {
    margin: 25px 0 0 0;
}
/* give the listed items a flex display, remove the list bullets, and add space between them */
header nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
/* style the anchor elements to fit within its container */
header nav ul li a{
    padding: 24px;
    color: #6112b3;
    text-decoration: none;
    font-size: 2vw;
}

/* use hover psuedo class to alert the user what link they are about to click in the navigation  */
header nav ul li a:hover{
    color: #fff;
}
/* end styling for header */

/* start styling for hero section */
/* set the background image for the hero */
.hero{
    background-image: url(../images/deon-bg-img.jpg);
    background-size: cover;
    height: 480px;
    display: flex;
    box-shadow: 0 26px 20px -10px rgba(0, 0, 0, 0.32);
    justify-content: space-evenly;
    align-items: center;
}

/* set styling for the text in the hero section */
.hero-intro h2{
    font-size: 75px;
    color: var(--blue-color);
    text-shadow: 0 0 10px rgba(229, 228, 226, 0.65);
}

.hero-img img{
    border-radius: 150px;
}
/* end styling for hero section */

/* start styling for about me section */
.aboutme {
    margin: 10px 0 0 0;
    height: 600px;
    background-color: var(--section-bgcolor);
}
/* end styling for about me section */

/* Styling for the title class. Focusing on the header of each section */
.title{
    margin: 60px auto 0 auto;
    border-bottom: 2px solid var(--secondary-color);
    width: 30%;
    text-align: center;
    font-size: 35px;
    color: var(--blue-color);
}

/* start styling for the my portfolio section */
.myportfolio{
    margin: 0;
    height: 600px;
    background-color: var(--section-bgcolor);
}
/* end styling for the my portfolio section */

/* start styling for the footer */
.contactme{
    margin: 0;
    background-color: var(--main-color);
    height: 100px;
}

.contactme h2{
    color: var(--blue-color);
    text-align: center;
    padding: 15px;
    font-size: 32px;
}